backend:
  name: git
  repo: github/testsite
  branch: master

media_folder: "static/uploads"
public_folder: "/uploads"

collections:
  - name: posts
    label: Posts
    folder: content/posts
    create: true
    fields:
      - { label: "Titel", name: "title", widget: "string" }
      - { label: "Inhalt", name: "body", widget: "markdown" }
